$def with (content)

<link rel=stylesheet type="text/css" href="/static/stylesheet.css">
<script src="static/photo.js"></script> <!-- FIXME: only load on photo page -->

<title>$content.title</title>

<div>
  <div style="float: right; font-size: 75%">
    <a href="index.jsp">Home</a> |
    <a href="people.jsp">People</a> |
    <a href="places.jsp">Places</a> |
    <a href="events.jsp">Events</a> |
    <a href="categories.jsp">Categories</a> |
    <a href="search-form.jsp">Search</a> |
    $if content.logged_in:
        <a href="login">Log out</a>
    $else:
        <a href="login">Log in</a>
  </div>
  
  <h1>$content.title</h1>
</div>

$:content
