$def with (years, username)

$var title = "Events"
$var logged_in = username

<p>
$for (year, events) in years:
    <a href="#$year">$year</a> |
</p>

<table>
$for (year, events) in years:
    <tr><td colspan=4><p><h2><a name="$year"><a href="year.jsp?year=$year">$year</a></a></h2>

    $for (event, count) in events:
          <tr><td><a href="event.jsp?id=$event.get_id()"
                     >$event.get_name()</a> &nbsp;&nbsp;&nbsp;
              <td>$event.get_start_date() &nbsp;&nbsp;&nbsp;
              <td>$event.get_end_date() &nbsp;&nbsp;&nbsp;
              <td>$count &nbsp;&nbsp;&nbsp;
  
</table>
