$def with (conf, places)

<p><a href="places.jsp">Tree</a>

<div id="map" style="width: 100%; height: 720px"></div>

<script src="http://maps.google.com/maps?file=api&amp;v=1&amp;key=<%= gmapkey %>" type="text/javascript"></script>
<script type="text/javascript">

    // the place icon
    var placeicon = new GIcon();
    placeicon.image = 'http://www.garshol.priv.no/tmphoto/resources/blue-dot.gif';
    placeicon.iconSize = new GSize(16, 16);
    placeicon.iconAnchor = new GPoint(8, 8);
    placeicon.infoWindowAnchor = new GPoint(9, 2);
    placeicon.infoShadowAnchor = new GPoint(18, 25);

    // opens info window for marker
    function marker_clicked(marker) {
      if (!marker)
        return;
      // have to clone the nodes, because GMap appears to discard them
      // when the window is closed
      element = document.getElementById(marker.popupid).cloneNode(true);
      element.style.display = '';
      map.openInfoWindow(marker.getPoint(), element);
    }

    // adds a place marker to the map
    function add_place(x, y, name, popupid, icon) { 
      marker = new GMarker(new GPoint(x, y), icon);
      marker.popupid = popupid;
      GEvent.addListener(map, 'click', marker_clicked);
      map.addOverlay(marker);
    }

    // creating the map
    var map = new GMap(document.getElementById('map'));
    map.addControl(new GLargeMapControl());
    map.addControl(new GScaleControl());
    map.centerAndZoom(new GPoint(50, 40), 15);
</script>

$for (url, name, id, lat, long, desc) in places:
    <script type="text/javascript">
    add_place($long, $lat, '$name', '$id', placeicon);
    </script>
    <div style="display: none; font-family: Arial; font-size: 10pt; width: 200px" 
       id="$id">
    <b>$name</b><br>
    $if desc:
        $desc<br>
    <a href="place.jsp?id=$id">Pictures</a>
    </div>
