$def with (id, title, time, event_id, event_name, place_id, place_name, desc, cats, people, prev, next, conf)

$var title = title

$if prev:
    <a href="photo.jsp?id=$prev"><img src="static/nav_prev.gif"></a>
$if next:
    <a href="photo.jsp?id=$next"><img src="static/nav_next.gif"></a>

$if place_id:
    <a href="place.jsp?id=$place_id">$place_name</a>
    $if event_id:
        &mdash;
$if event_id:
    <a href="event.jsp?id=$event_id">$event_name</a>
&mdash; $time

<script>
  function openInfo(photoid) {
    window.open("$conf.get_photo_uri()$id;metadata",
      "infoWindow","menubar=0,resizable=0,width=450,height=500,scrollbars=1");
  }
</script>

<a href="javascript:openInfo('$id')"><img src="static/info.gif" border=0></a>
    
<p><img src="$conf.get_photo_uri()$id"></p>

$if desc:
    <p>$desc</p>

$if cats:
    <ul>
    $for (cat_id, cat_name) in cats:
        <li><a href="category.jsp?id=$cat_id">$cat_name</a>
    </ul>

$if people:
    <ul>
    $for (person_id, person_name) in people:
        <li><a href="person.jsp?id=$person_id">$person_name</a>
    </ul>
