$def with (name, conf, pager, topic_id, sidebar = None, topbar = None)

$var title = name

$def paging():
    $if pager.get_page_count() > 1:
         <p>
         $if pager.get_page_no() > 1:
             <a href="$pager.get_page_no_params(topic_id, pager.get_page_no(-1))"
               ><img src="/static/nav_prev.gif" alt="prev"></a>
           
         $for pno in range(1, pager.get_page_count() + 1):
             $if pager.get_page_no() == pno:
                 <b>$pno</b>
             $else:
                 <a href="$pager.get_page_no_params(topic_id, pno)">$pno</a>

         $if pager.get_page_no() < pager.get_page_count():
             <a href="$pager.get_page_no_params(topic_id, pager.get_page_no(1))"
               ><img src="/static/nav_next.gif" alt="next"></a>
         </p>

$if topbar:
    $:topbar()

$if sidebar:
    $:sidebar()

$:paging()

<table>
$for (id, title, time) in pager.get_photos():
    <tr><td><a href="photo.jsp?id=$id"
              ><img src="$conf.get_photo_uri()$id;thumb"></a>
        <td style="font-size: 75%">$title<br>
            $time
  
</table>

$:paging()
