$def with (conf, photo, username)

$var title = photo.get_title()
$var logged_in = username

$ prev = photo.get_previous()
$if prev:
    <a href="photo.jsp?id=$prev.get_id()"><img src="static/nav_prev.gif"></a>
$ next = photo.get_next()
$if next:
    <a href="photo.jsp?id=$next.get_id()"><img src="static/nav_next.gif"></a>

$ place = photo.get_taken_at()
$ event = photo.get_taken_during()
$if place:
    <a href="place.jsp?id=$place.get_id()">$place.get_name()</a>
    $if event:
        &mdash;
$if event:
    <a href="event.jsp?id=$event.get_id()">$event.get_name()</a>
&mdash; $photo.get_time_taken()

<script>
  function openInfo(photoid) {
    window.open("$conf.get_photo_uri()$photo.get_id();metadata",
      "infoWindow","menubar=0,resizable=0,width=450,height=500,scrollbars=1");
  }
</script>

<a href="javascript:openInfo('$photo.get_id()')"><img src="static/info.gif" border=0></a>
<br>

<script>
var votes = $photo.get_vote_count();
var average = $photo.get_score();
var userscore = $photo.get_users_vote(username);
var photoid = "$photo.get_id()";
</script>

<span title="Average vote, out of $photo.get_vote_count() votes is
             $photo.get_score().">
  <img id=avgstar0 src="static/gray-star.png">
  <img id=avgstar1 src="static/gray-star.png">
  <img id=avgstar2 src="static/gray-star.png">
  <img id=avgstar3 src="static/gray-star.png">
  <img id=avgstar4 src="static/gray-star.png">
</span>

&nbsp;&nbsp;&nbsp;
<span title="Please record your vote. 1 star is bad, 3 is average, 5 is really good">
<form method=post action="set-score" style="display: inline"
      name=voteform>
<input type=hidden name=id value="$photo.get_id()">
<input type=hidden name=score value="" id=score>
<img id="star1" src="static/white-star.png"
     onmouseover="moveonto(1)" onmouseout="moveoff(1)" onclick="vote(1)">
<img id="star2" src="static/white-star.png"
     onmouseover="moveonto(2)" onmouseout="moveoff(2)" onclick="vote(2)">
<img id="star3" src="static/white-star.png"
     onmouseover="moveonto(3)" onmouseout="moveoff(3)" onclick="vote(3)">
<img id="star4" src="static/white-star.png"
     onmouseover="moveonto(4)" onmouseout="moveoff(4)" onclick="vote(4)">
<img id="star5" src="static/white-star.png"
     onmouseover="moveonto(5)" onmouseout="moveoff(5)" onclick="vote(5)">
</form>
</span>

$if username:
    <p><a href="$conf.get_full_photo_uri(photo.get_id())"
    ><img src="$conf.get_photo_uri()$photo.get_id()"></a></p>
$else:
    <p><img src="$conf.get_photo_uri()$photo.get_id()"></p>

$if photo.get_description():
    <p>$photo.get_description()</p>

$ cats = photo.get_categories()
$if cats:
    <ul>
    $for cat in cats:
        <li><a href="category.jsp?id=$cat.get_id()">$cat.get_name()</a>
    </ul>

$ people = photo.get_people()
$if people:
    <ul>
    $for person in people:
        <li><a href="person.jsp?id=$person.get_id()">$person.get_name()</a>
    </ul>

<script>
set_average_stars(average);
moveoff(userscore);
</script>

$ comments = photo.get_comments()
<div id=fcomment class=visible>
<h2>Comments ($(len(comments)))</h2>

$if not comments:
    <p>No comments yet.
$else:
    $for c in comments:
        <p><b>$:c.get_formatted_name()</b>
        - $c.get_nice_time()
        $#FIXME: add support for deleting comments
        $#<a href="delete-comment.jsp?id=c.get_id()"
        $#onclick="return confirmDelete('comment')"
        $#><img src="static/remove.gif"></a>
        </p>
        <blockquote>
        <p>$:c.get_formatted_content()</p>
        </blockquote>


<h2>Add comment</h2>
<form action="add-comment" method="post">
<input type=hidden name=id value="$photo.get_id()">
<table>

$if username:
    <tr><th width="20%">Username <td>$username
$else:
    <tr><th width="20%">Name <td><input name=name size=40 value="">
    <tr><th width="20%">Email <td><input name=email size=40 value="">
       (optional, not published)
    <tr><th width="20%">URL <td><input name=url size=60 value=""> (optional)
    <tr id=spam style="display: normal"
       ><td><span title="As in, 'is this comment spam?'">Spam</span>
    <td><input type=checkbox name=clever checked>
    <span class=hint><b>don't</b> check this if you want to be posted</span>
    <tr id=spam2 style="display: normal"
    ><td><span title="As in, 'please confirm that this is not comment
    spam'">Not spam</span>
    <td><input type=checkbox name=clever2>
    <span class=hint><b>do</b> check this if you want to be posted</span>

<tr><td colspan=2><a name="comment"></a>
<textarea name=comment cols=60 rows=10
  ></textarea><br>
<input type=submit value="Add"     name=add>
<input type=submit value="Preview" name=preview>
<a href="markdown.jsp" target="blank">formatting help</a>
</table>
</form>
</div>

$if not username:
    <script type="text/javascript">
    document.forms[1].clever.checked = false;
    document.forms[1].clever2.checked = true;
    document.getElementById("spam").style.display = "none";
    document.getElementById("spam2").style.display = "none";
    </script>
