$def with (conf, gallery, desc, username)

$var title = gallery.get_title()
$var logged_in = bool(username)
$ photo = gallery.get_random_photo()

$:desc

<div style="float: right">
  $photo.get_title()<br>
  <a href="photo.jsp?id=$photo.get_id()"
     ><img src="$conf.get_photo_uri()$photo.get_id();thumb"></a>
  <div style="font-size: 75%">
    <br>$photo.get_time_taken()<br>
    
    $ place = photo.get_taken_at()
    $if place:
      <a href="place.jsp?id=$place.get_id()">$place.get_name()</a><br>

    $ event = photo.get_taken_during()
    $if event:
      <a href="event.jsp?id=$event.get_id()">$event.get_name()</a>
  </div>
</div>

<p>You can access the photos through lists of:</p>

<table>
<tr><td><a href="people.jsp">People</a> <td>$gallery.count('person')
<tr><td><a href="places.jsp">Places</a> <td>$gallery.count('place')
<tr><td><a href="events.jsp">Events</a> <td>$gallery.count('event')
<tr><td><a href="categories.jsp">Categories</a> <td>$gallery.count('category')
<tr><td><a href="best-photos.jsp">The best photos</a> <td>
</table>

<p>There are $gallery.count('photo') photos in the system altogether.</p>
